<h1>
    <%= "#{@author.name} #{@author.surname}" %>
    </h1>
    <p>
        Age:
        <%= @author.age %>
        <hr />
        Created at:
        <%= @author.age %>
        <hr />
        Created at:
        <%= @author.age %>

</p>